<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
           
         <title>民宿一覧</title>   
     </head>
     <body>
         <div class="portfoliosauna-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container portfoliosauna-container pb-5">
                     <div class="row justify-content-center">
                         <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                             <ol class="breadcrumb mb-0">                        
                                 <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                 <li class="breadcrumb-item active" aria-current="page">施設一覧</li>
                             </ol>
                         </nav>         
             
                         <div class="col-xl-3 col-lg-4 col-md-12">               
                             <form method="get" th:action="@{/houses}" class="w-100 mb-3">
                                 <div class="input-group">
                                     <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="施設名・目的地">
                                     <button type="submit" class="btn text-white shadow-sm portfoliosauna-btn">検索</button> 
                                 </div>               
                             </form>
             
                             <div class="card mb-3">
                                 <div class="card-header">
                                     エリアから探す
                                 </div>
                                 <div class="card-body">
                                     <form method="get" th:action="@{/houses}" class="w-100">
                                         <div class="form-group mb-3">
                                             <select class="form-control form-select" name="area">  
                                                 <option value="" hidden>選択してください</option>                                                   
                                                     <option value="茨木県" th:selected="${area == '茨木県'}">茨木県</option>
                                                     <option value="栃木県" th:selected="${area == '栃木県'}">栃木県</option>
                                                     <option value="群馬県" th:selected="${area == '群馬県'}">群馬県</option> 
                                                     <option value="埼玉県" th:selected="${area == '埼玉県'}">埼玉県</option>
                                                     <option value="千葉県" th:selected="${area == '千葉県'}">千葉県</option>
                                                     <option value="東京都" th:selected="${area == '東京都'}">東京都</option>
                                                     <option value="神奈川県" th:selected="${area == '神奈川県'}">神奈川県</option>                                                                                                                                         
                                             </select> 
                                         </div>
                                         <div class="form-group">
                                             <button type="submit" class="btn text-white shadow-sm w-100 portfoliosauna-btn">検索</button>
                                         </div>                                           
                                     </form>
                                 </div>
                             </div>                
             
                             <div class="card mb-3">
                                 <div class="card-header">
                                     料金から探す
                                 </div>
                                 <div class="card-body">
                                     <form method="get" th:action="@{/houses}" class="w-100">
                                         <div class="form-group mb-3">    
                                             <select class="form-control form-select" name="price">
                                                 <option value="" hidden>選択してください</option> 
                                                 <option value="1000" th:selected="${price == 1000}">1,000円以内</option>
                                                 <option value="2000" th:selected="${price == 2000}">2,000円以内</option>
                                                 <option value="3000" th:selected="${price == 3000}">3,000円以内</option>                                            
                                             </select>                                                                                
                                         </div>
                                         <div class="form-group">
                                             <button type="submit" class="btn text-white shadow-sm w-100 portfoliosauna-btn">検索</button>
                                         </div>                                           
                                     </form>
                                 </div>
                             </div>                               
                         </div>
             
                         <div class="col">                                                                          
                             <div class="d-flex justify-content-between flex-wrap">                                
                                 <p th:if="${housePage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + housePage.getTotalElements() + '件' + '（' + (housePage.getNumber() + 1) + ' / ' + housePage.getTotalPages() + ' ページ）'}"></p> 
                                 <p th:unless="${housePage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + housePage.getTotalElements() + '件'}"></p>   
                                 
                                 <form method="get" th:action="@{/houses}" class="mb-3 samuraitravel-sort-box"> 
                                     <input th:if="${keyword}" type="hidden" name="keyword" th:value="${keyword}">
                                     <input th:if="${area}" type="hidden" name="area" th:value="${area}">
                                     <input th:if="${price}" type="hidden" name="price" th:value="${price}">                                      
                                     <select class="form-select form-select-sm" name="order" onChange="this.form.submit();">
                                         <option value="createdAtDesc" th:selected="${order == 'createdAtDesc' || order == null}">新着順</option>                                            
                                         <option value="priceAsc" th:selected="${order == 'priceAsc'}">料金が安い順</option>
                                     </select>   
                                 </form>                              
                             </div>   
                                                                         
                             <div class="mb-3" th:each="house : ${housePage}">
                                 <a th:href="@{/houses/__${house.getId()}__}" class="link-dark portfoliosauna-card-link">
                                     <div class="card h-100">   
                                         <div class="row g-0">
                                             <div class="col-md-4">                                                                                
                                                 <img th:if="${house.getImageName()}" th:src="@{/storage/__${house.getImageName()}__}" class="card-img-top portfoliosauna-horizontal-card-image" alt="施設画像">                                                     
                                                 <img th:unless="${house.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top portfoliosauna-horizontal-card-image" alt="NO IMAGE">                                                    
                                             </div> 
                                             <div class="col-md-8">                                                                                                                        
                                                 <div class="card-body">                                    
                                                     <h3 class="card-title mb-3" th:text="${house.getName()}"></h3>                                            
  
                                                     <hr class="mb-3">
                                                     
                                                     <p class="card-text mb-2">
                                                         <span th:text="${house.getDescription()}"></span>
                                                     </p>                                                    
                                                     
                                                     <p class="card-text mb-2">                
                                                         <small class="text-muted" th:text="${house.getAddress()}"></small>                                                      
                                                     </p>   
                                                                                                                                                                                                                                    
                                                     <p class="card-text">
                                                         <span th:text="${#numbers.formatInteger(house.getPrice(), 1, 'COMMA') + '円'}"></span>
                                                     </p>                                    
                                                 </div>
                                             </div>
                                         </div>
                                     </div>    
                                 </a>            
                             </div>                                                                                       
             
                             <!-- ページネーション -->
                             <div th:if="${housePage.getTotalPages() > 1}" class="d-flex justify-content-center">
                                 <nav aria-label="施設一覧ページ">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <span th:if="${housePage.isFirst()}" class="page-link disabled">前</span>
                                             <a th:unless="${housePage.isFirst()}" th:href="@{/houses(page = ${housePage.getNumber() - 1}, keyword = ${keyword}, area = ${area}, price = ${price}, order = ${order})}" class="page-link portfoliosauna-page-link">前</a>
                                         </li>
                                         <li th:each="i : ${#numbers.sequence(0, housePage.getTotalPages() - 1)}" class="page-item">
                                             <span th:if="${i == housePage.getNumber()}" class="page-link active portfoliosauna-active" th:text="${i + 1}"></span>
                                             <a th:unless="${i == housePage.getNumber()}" th:href="@{/houses(page = ${i}, keyword = ${keyword}, area = ${area}, price = ${price}, order = ${order})}" class="page-link portfoliosauna-page-link" th:text="${i + 1}"></a>
                                         </li>
                                         <li class="page-item">                        
                                             <span th:if="${housePage.isLast()}" class="page-link disabled">次</span>
                                             <a th:unless="${housePage.isLast()}" th:href="@{/houses(page = ${housePage.getNumber() + 1}, keyword = ${keyword}, area = ${area}, price = ${price}, order = ${order})}" class="page-link portfoliosauna-page-link">次</a>
                                         </li>
                                     </ul>
                                 </nav> 
                             </div>                                      
                         </div>
                     </div>
                 </div>  
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
   </body>
 </html>